/* General Styling */
body {
  margin: 0;
  padding: 0;
  background:  #FAFAFA;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
header {
  width: 100%;
  padding: 60px;
}
h1 {
  color: #3E7B53;
}
h2 {
  color: #3E7B53;
}
hr{
  border: 0;
  border-top: 1px solid #7b7b7b;
  margin: 30px 0;
}

/* Main Sections Styling */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main section {
  border: 1px solid #000000;
  padding: 0 50px;
  width: 25vw;
  max-width: 400px;
  min-width: 250px;
}
main section:last-child {
  margin-left: 20px;
}
section h2 {
  background: #FAFAFA;
  padding: 10px;
  transform: translateY(-100%);
  text-align: center;
  display: inline-block;
}

/* File Upload Section Styling */
input[type="file"] {
  display: none;
}
.file-upload {
  transform: translateY(-30px);
}
.custom-file-upload:hover {
  cursor: pointer;
}

/* Solutions Styling */
.solutions {
  transform: translateY(-50px);
}
